doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/controller.css')
    script(src='/socket.io/socket.io.js')
    script(src='/scripts/jquery-1.12.0.min.js')
    script(src='/scripts/controller.js')
    meta(name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;")
  body
    block content
        script.
          var channel = '#{hash}';
          var avatar = '#{avatar}';
          var audio = '/sounds/sound_#{avatar}.mp3';
        div#init
            label(for=username) Username
            input#username
            a#sendusername(href='#') OK
        div#game.hidden
            div#header
                div
                    img(src='/images/avatars/avatar_#{avatar}.png')
                    span Username 2450
            div#controls
                div#button-1.quizzbutton.blue
                    span Blue
                div#button-2.quizzbutton.orange
                    span Orange
                div#button-3.quizzbutton.green
                    span Green
                div#button-4.quizzbutton.red
                    span Red
