extends layout

block content
    script(src='/scripts/app.js')
    script(type='text/javascript').
        var channel = '#{hash}';

    div.wrapper
        nav.navbar.navbar-fixed-top
            div.container
                div.navbar-header
                    button.navbar-toggle.collapsed(type='button',data-toggle='collapse')
                        span.sr-only navegacion
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand.text-uppercase getcrowder.com
                div.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='#') About
                        li
                            a(href='#') About
                        li
                            button.btn.btn-success.navbar-btn.btn-circle Login

    div.container
        div.row
            div.col-md-12.text-center
                h1 Game Quizz

    div.container
        div.row.visible-lg
            div.col-md-6
                div.panel.panel-default
                    div.panel-heading.text-center
                        strong Play game Option 1
                    div.panel-body.text-center
                        h1 Scan this QR code with your smartphone
                        img(src='#{qr}')

            div.col-md-6
                div.panel.panel-default
                    div.panel-heading.text-center
                        strong Play game Option 2
                    div.panel-body.text-center
                        h1 You can´t scan this code QR? follow this Steps
                        
                        h3 Enter this URL in your smartphone Browser
                        p.label-info.label-grande #{domainurl}game-quizz
                        
                        h3 And enter this code
                        p.label-success.label-grande #{hash}

        div.row.hidden-lg
            div.col-md-6.col-md-offset-4
                div.panel.panel-default
                    div.panel-heading.text-center
                        strong Play game Option 2
                    div.panel-body
                        input#code-room(placeholder='code room')
                        br
                        button#gotoroom.btn.btn-lg.btn-primary Start to play

        div.row.visible-lg
            h1.text-center Players
            div#users
        div.row.visible-lg
            div.col-md-12.text-center
                button#gotoplay(onclick='location.href = \'#{url}\';')(disabled="disabled").btn.btn-lg.btn-primary Start to play

