extends layout

block content
    script.
        var channel = '#{hash}';
    h1= title
        p Welcome to #{title}

    img(src='#{qr}')
    p #{urlct}



    a#gotoplay(href='#{url}') Start to play
