extends layout

block content
    script(src='/scripts/app.js')
    script.
        var channel = '#{hash}';
    h1= title
        p Welcome to #{title}

    img(src='#{qr}')
    p #{urlct}


    h2 users connected
    p#users

    a#gotoplay(href='#{url}') Start to play
